<script type="text/javascript" src="https://unpkg.com/vue"></script>
<link href="https://unpkg.com/todomvc-app-css@2.1.0/index.css" rel="stylesheet"/>

<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo"
      autocomplete="off"
      v-model="newTodo"
      @keyup.enter="addTodo"
      placeholder="What needs to be done?">
  </header>
  <section class="main" >
    <input class="toggle-all" id="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <!-- ---------------------------------------------  -->
    <ul class="todo-list">
      <li class="todo" v-for="(todo, index) in todos" :key="index" :class="{completed:todo.completed}">
        <div class="view">
          <input class="toggle" type="checkbox" v-model="todo.completed">
          <label>{{todo.title}}</label>
          <button class="destroy" @click="deleteTodo(todo)"></button>
        </div>
        <input class="edit" type="text">
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count">
      <strong>1</strong> item left
    </span>
    <ul class="filters">
      <li><a href="#/all" class="selected">All</a></li>
      <li><a href="#/active">Active</a></li>
      <li><a href="#/completed">Completed</a></li>
    </ul>
    <button class="clear-completed">
      Clear completed
    </button>
  </footer>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
</footer>

<script>
    new Vue({
        el: '.todoapp',
        data:{
            todos: [
                {title:'Task 1', completed: true},
                {title:'Tsk 2', completed: false}
            ],
            newTodo: ''
        },
        methods:{
            deleteTodo:function(value){
                this.todos.splice(this.todos.indexOf(value))
            },
            addTodo:function(){
                if (this.newTodo == '')
                return;
                this.todos.push({
                    'title': this.newTodo,
                    'completed': false
                });
                this.newTodo = '';
            }
        }
    })
</script>