<style>
    .liked{
      color: blue;
      font-weight: 900;
    }
    .rect{
      width: 100px;
      height: 100px;
    }
    .blue{
      background-color: blue;
    }
    .red{
      background-color: red;
    }
  </style>
  
  <script src="https://unpkg.com/vue"></script>
  
  <div id="app">
    <input type="text" v-model="x">
    <p>{{x}}</p>
    <button @click="x= 'x was channged'">change</button>
    <br>
    <p>{{fullname}}</p>
    <br>
    <p :class="count" @click="liked=! liked">{{like}} + like</p>
    <br>
    <div class="rect" @click="active =! active"  v-bind:class="{blue: active, red: !active}"></div>
    <br>
    <div class="rect" @click="active =! active"  v-bind:class="objclass"></div>
    <br>
    <div v-if="showIf">vueJS condition</div>
    <div v-else>false</div>
    <button @click="showIf=!showIf">Show If</button>
    <!--for loop-->
    <div>
      <ul>
        <li v-for="(item, index) in list1" :key="index">
          <span>{{index + 1}} Name: {{item.name}}</span> - 
          <span>Age: {{item.age}}</span>
        </li>
      </ul>
      <ul>
          <li v-for="(item, index) in list1" :key="index">
            <span>Name: </span> <input type="text" v-model="item.name">
            <span>Age:</span> <input type="text" v-model="item.age">
            <button @click="deleteItem(index)">Delete</button>
          </li>
        </ul>
    </div>
    <ul v-for="(user, index) in users">
      <li v-for="(item,key, index) in user">
        {{index +1}} - {{key}}:<b>{{item}}</b> 
      </li>
    </ul>
    <br>
    <ul>
      <li v-for="(item, index) in list3">{{item}}</li>
    </ul>
    <button @click="addNew">add</button>
    <br>
    <div id="rate">
      <template v-for="item in rate">1 </template>
      <template v-for="item in 5 - rate">0 </template>
    </div>
  </div>
  
  <script type="text/javascript">
      new Vue({
      el: '#app',
      data:{
        x: 'mahmoud',
        y: 'alakwas',
        like: '5',
        liked: false,
        bgcolor: 'blue',
        active: false,
        showIf: false,
        textvalue: '',
        list1: [
                {name: 'mahmoud', age: 15},
                {name: 'ahmed', age: 3},
                {name: 'kenan', age: 10}
        ],
        users:[
          {name: 'mahmoud', email: 'm@m.com', age: 50},
          {name: 'mahmoud2', email: 'm@mm.com', age: 20},
          {name: 'mahmoud3', email: 'm@mmm.com', age: 30}
        ],
        list3:[1,2,3,4,5,6],
        rate: 3
      },
      methods:{
        deleteItem:function(index){
          this.list1.splice(index, 1);
        },
        addNew:function(){
          this.list3.push(10);
        }
      },
      computed: {
        fullname: function(){
          return this.x + ' ' + this.y;
        },
        count: function(){
          return (this.liked)? 'liked' : '';
        },
        objclass: function(){
          return {blue:!this.active, red:this.active}
        }
      },
      watch:{
        liked: function(value){
          if(value)
            this.like ++;
          else
            this.like --;
        },
        bgcolor:function(value){
          if(value == 'blue')
            this.value = 'red';
          else
            this.value = 'blue';
        }
      }
    })
  
  </script>
  <!------mahmoud alkawas-->